
.vertical-tab {
  position: relative;
  height: auto;
}
.vertical-tab .vertical-panel {
  /*background: rgba(0,0,0,0.1);*/
  cursor: pointer;
  /*border: 1px solid rgba(0,0,0,0.2);
  border-top: none;*/
  /*padding: 15px 20px;*/
}
.vertical-tab .vertical-panel:first-child {
 /* border-top: 1px solid rgba(0,0,0,0.2);*/
}
@media screen and (min-width: 600px) {
  .vertical-tab .vertical-panel {
    display: block;
    font-family: "Tw Cen MT";
    font-size: 32px;
    height: 20%;
    line-height: 55px;
    margin-bottom: 10px;
    position: relative;
    text-align: right;
    width: 30%;
	color:#898787;
	padding:0 15px;
}
}
.vertical-tab ul {
  zoom: 1;
  position: relative;
  height: auto;
  min-height: 100%;
  /*border: 1px solid rgba(0,0,0,0.2);
  border-left: none;*/
  display: none;
}

@media screen and (min-width: 600px) {
  .vertical-tab ul {
    position: absolute;
    width: 66.66666666666667%;
    right: 0;
    top: 0;
    /*padding: 15px 30px;*/
  }
}
.vertical-tab .active {
  cursor: default;
  background:#d4c9c4;
}
@media screen and (min-width: 600px) {
  .vertical-tab .active {
    background:#d4c9c4;
  }
}
.vertical-tab .active + ul {
  display: block;
}
