/* CSS Document */



/*===============================================================
common portion start
=================================================================
*/


@font-face {
	font-family: 'Tw Cen MT';
	src: url('fonts/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TwCenMT-Regular.woff') format('woff'),
		url('../fonts/TwCenMT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box
}
body {
	margin: 0;
	padding: 0 !important;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
body, html {
	font-size: 16px;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
div, table, tr, th, td, th, video, audio, h1, h2, h3, h4, h5, h6, aside, canvas, section, header, footer, nav, span, p, small, big, a, b, strong, img, hr, pre, button, input, textarea, optgroup, ul, li, ol, select, option, blockquote, nav {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	list-style-type: none;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
}
.clear {
	clear: both
}
.container {
	margin: 0 auto;
	padding: 0 0px;
	width: 1280px;
}
/*.row{
	width:100%;
	margin:10px auto
	}*/
img {
	max-width: 100%;
}
h1, h2, h4, h5, h6 {
	font-family: 'HelveticaNeueLTStd-Bd';
	-webkit-font-smoothing: antialiased;
}
h3 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 1.875rem;
	font-weight: normal;
	font-weight: normal;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
h2 {
	font-size: 2rem;
	line-height: 54px;
	font-weight: bold;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
h3 {
	font-size: 1.25rem;
	line-height: 40px;
	font-weight: normal;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
h4 {
	font-size: 1.438rem;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
h5 {
	font-size: 1.063rem;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
h6 {
}
p {
	line-height: 26px;
	font-weight: normal;
	color: #575555;
	margin: 0 auto !important;
	color: #676767;
	font-size: 17px;
	-webkit-font-smoothing: antialiased;
}
ul {
	margin-bottom: 0px !important;
}
a {
	text-decoration: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
}
a:hover {
	text-decoration: none !important;
	outline: none !important;
}
input, textarea, select {
	width: 100%;
	height: 39px;
	border: none;
	margin: 0.125rem 0;
	border-radius: 0;
	text-indent: 5px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	color: #575555;
	font-size: 15px;
	background: rgba(255,255,255,0.33);
}
input:focus, textarea:focus, select:focus {
	background: rgba(255,255,255,0.93);
}
input[type="submit"] {
	width: 100%;
	background: transparent;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	cursor: pointer;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
input[type="submit"]:hover {
	background: #FFF;
	color: #f8db3a;
	-webkit-font-smoothing: antialiased;
}

		
	
	
	
::-moz-placeholder {
 color:#4c4c4c;
 font-size: 13px;
}
::-ms-placeholder {
 color:#f3f3f3;
 font-size: 13px;
}
::-webkit-placeholder {
 color:#f3f3f3;
 font-size: 13px;
}
::-0-placeholder {
 color:#f3f3f3;
 font-size: 13px;
}
::selection {
	background: #f8db3a;
	color: #050006;
}
::-moz-selection {
 background:#f8db3a;
 color:#050006;
}
::-webkit-selection {
 background:#f8db3a;
 color:#050006;
}
::-o-selection {
 background:#f8db3a;
 color:#050006;
}
::-ms-selection {
 background:#f8db3a;
 color:#050006;
}
.f_left {
	float: left;
}
.f_right {
	float: right;
}
a.btn_bor {
	background: transparent;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 25px;
	border: 1px solid #acacac;
}
a.btn_bor:hover {
	background: rgba(226,226,226,.3);
}
a.btn_without_bor {
	background: #faa013;
	border-radius: 25px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: center;
}
.read_more {
	color: #faa013;
	font-size: 15px
}
.read_more:hover {
	text-decoration: underline
}
/*===============================================================
common portion end
=================================================================
*/
banner {
    position: relative;
}
nav {
    position: absolute;
    width: 100%;
    z-index: 99;
}
.navigation{
	background:rgba(0,0,0, 0.3);
}
.top-menu{
	text-align:right;
}
.top-menu ul li{
	display:inline-block;
}
.top-menu ul li a{
	color:#fff;
	font-size:12px;
	font-family: "Tw Cen MT";
}
.logo {
    width: 200px;
	float:left;
	padding:7px 0;
}
.menu {
    float: right;
    width: 75%;
	text-align:right;
}
.menu ul li{
	display:inline-block;
}
.menu ul li a {
    color: #fff;
    font-family: "Tw Cen MT";
    font-size: 21px;
    font-weight: 300;
    padding: 10px 20px;
}