 <?xml version="1.0"?> 
    <config>
        <modules>
            <Shourya_NewLayout>
                <version>0.0.1</version>
            </Shourya_NewLayout>
        </modules>
        <global>
            <page>
                <layouts> 
                    <new_cms_layout module="page" translate="label">
                        <label>New Cms Layout</label>
                        <template>page/1-column-version2.phtml</template>
                        <layout_handle>lookbook</layout_handle>
                    </new_cms_layout> 
                </layouts>
            </page>
        </global>
    </config>

