<html ng-app="app">
<head>
  <title>Hello Controllers in AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
</head>
<body>
  
<ng-view></ng-view>
  
<!-- Template -->   
<script type="text/ng-template" id="/todos.html">
  Search: <input type="text" ng-model="search.text">
<div>
    <div ng-repeat="todo in todos | filter: search">
     
      {{todo.name}}
       <input type="text" ng-model="todo.text">
       {{todo.text}}
    </div>
  </div>
</script>
  


<script>

angular.module('app', ['ngRoute'])

  .factory('Todos', function(){
    return [
      { name: 'Set', text: 'Enter Your Set Here'},
      { name: 'Title', text: 'aello'},
      { name: '$scope', text: 'hello'},
      { name: 'Controllers and Modules', text: 'bello'},
      { name: 'Templates and routes', text: 'cello'},
      { name: 'Filters and Services', text: 'dello'},
      { name: 'Get started with Node/ExpressJS', text: 'eello'},
      { name: 'Setup MongoDB database', text: 'fello'},
      { name: 'Be awesome!', text: 'gello'},
    ];
  })

  .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
    $scope.todos = Todos;
  }])
  
  .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
    $scope.todo = Todos[$routeParams.id];
  }])
  
  .config(['$routeProvider', function ($routeProvider) {
    $routeProvider
      .when('/', {
        templateUrl: '/todos.html',
        controller: 'TodoController'
      })
    
      
  }]);
</script>

</body>
</html>
