/* CSS Document */

@media (min-width:320px) {
.container {
	width: 90%;
}
}
@media (min-width:480px) {
.container {
	width: 90%;
}
}
 @media (min-width:768px) {
.container {
	width: 90%;
}
}
 @media (min-width:991px) {
.container {
	width: 950px;
}
}
 @media (min-width:1200px) {
.container {
	width: 1180px;
}
}
 @media (min-width:1350px) {
}
 @media (min-width:1366px) {
.container {
	width: 1180px;
}
}
 @media (max-width:1365px) {
body, html {
	font-size: 16px;
}
}
 @media (max-width:1280px) {
}
 @media (max-width:1200px) {
#product_highlight ul li, #technical_highlight ul li {
	width: 30%;
}
#product_highlight ul li:nth-of-type(3):after, #technical_highlight ul li:nth-of-type(3):after {
	border-right: none;
}
#product_highlight ul li:nth-of-type(4):after {
	border-right: 1px dotted #dcdcdc;
}
#technical_highlight ul li:nth-of-type(4):after {
	border-right: 1px dotted #4f4f4f;
}
#product_highlight ul li:nth-of-type(6):after, #technical_highlight ul li:nth-of-type(6):after {
	border-right: none;
}
#contact .contact_box:nth-of-type(1) {
	width: 32%;
}
#contact .contact_box:nth-of-type(3) {
	width: 32%
}
#contact .contact_box:nth-of-type(2) {
	width: 34%
}
.comment-form p.comment-form-email, .comment-form p.comment-form-author {
	width: 48.9% !important;
}
.post-type-archive-product ul.products li {
	min-height: 376px !important;
}
}
@media (max-width:1095px) {
}
 @media (max-width:991px) {
body, html {
	font-size: 14px;
}
#introduction .content {
	padding-right: 0
}
#product_highlight, #technical_highlight {
	padding: 50px 0 !important
}
#models .product_box .cart_wrapper .rate p em {
	width: 100%;
	display: block;
}
#models .product_box .cart_wrapper .cart a {
	height: 100px;
	line-height: 100px
}
#models .product_box .cart_wrapper .cart a i {
	line-height: 100px
}
#contact .contact_box:nth-of-type(1) {
	width: 45%
}
#contact .contact_box:nth-of-type(2) {
	width: 45%
}
#contact .contact_box:nth-of-type(3) {
	width: 45%
}
.comment-form p.comment-form-email, .comment-form p.comment-form-author {
	width: 48.4% !important;
}
.post-type-archive-product ul.products {
	text-align: center;
}
.post-type-archive-product ul.products li {
	display: inline-block;
}
.post-type-archive-product ul.products li.product {
	width: 30.1% !important;
	margin: 0 1.4% 2.992em 1.4% !important;
	float: none !important;
	background: rgba(255,255,255,0.9);
}
.post-type-archive-product ul.products li {
	min-height: 408px !important;
}
}
 @media (max-width:768px) {
body, html {
	font-size: 12px;
}
.f_left, .f_right {
	float: none;
}
.img_part, #introduction .content {
	width: 100%
}
.img_part {
	text-align: center;
	display: none;
}
#introduction .content h2 {
	text-align: center;
}
#introduction .content p {
	text-align: center;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
	-webkit-text-align-last: center;
}
#introduction .content a.button {
	display: inline-block;
}
#introduction {
	padding: 40px 0 200px 0
}
#introduction .content .row:nth-of-type(3) {
	text-align: center;
}
#introduction .content p big {
	font-size: 17px
}
#product_highlight ul li, #technical_highlight ul li {
	width: 45%;
	padding: 0 20px;
	min-height: 300px;
	margin: 20px 10px;
	min-height: 290px
}
#technical_highlight ul li {
	min-height: auto
}
#product_highlight ul li:after, #technical_highlight ul li:after {
	border-right: none;
}
#product_highlight ul li:nth-of-type(4):after, #technical_highlight ul li:nth-of-type(4):after {
	border-right: none;
}
#product_highlight ul li h4, #technical_highlight ul li h4 {
	font-size: 1.70rem;
}
#tech_details .tech_left, #tech_details .tech_right {
	width: 100%
}
#tech_details .img_area img {
	max-width: 100%;
	width: auto;
}
.hor_bor {
	display: none;
}
.product_box {
	width: 46%
}
#models .product_box .cart_wrapper .rate {
	float: left;
}
#models .product_box .cart_wrapper .cart {
	float: right;
}
#models .product_box .cart_wrapper .rate p em {
	width: auto;
	display: inline;
}
#subscription .form_area {
	width: 100%
}
#faqs .collapsible_panel {
	width: 100%
}
#contact .contact_box:nth-of-type(1) {
	width: 48%
}
#contact .contact_box .content {
	margin-left: 3px
}
#tech_details .tech_right .img_area {
	width: 57%
}
.comment-form p.comment-form-email, .comment-form p.comment-form-author {
	width: 48.2% !important;
}
.post-type-archive-product ul.products li.product {
	width: 46.1% !important;
}
.single-product .woocommerce-review-link {
	font-size: 15px !important;
}
.single-product .woocommerce-product-rating .star-rating {
	margin: 10px 6px 0 0 !important;
}
.single-product button.button {
	padding: 0.9em 1em !important;
}
.single-product .description_tab a, .single-product .additional_information_tab a, .single-product .reviews_tab a {
	font-size: 15px;
}
.single-product .product_meta span.sku_wrapper {
	font-size: 16px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 16px;
}
.single-product .shop_attributes td.product_weight, .single-product .shop_attributes td.product_dimensions {
	font-size: 15px !important;
}
.woocommerce table.shop_table {
	font-size: 17px !important;
}
.woocommerce-cart .cart_totals h2 {
	font-size: 20px !important;
}
.woocommerce-cart .woocommerce-message {
	font-size: 16px !important;
}
.woocommerce-checkout .woocommerce-checkout-payment .payment_method_cod label, .woocommerce-checkout .woocommerce-checkout-payment .payment_method_paypal label, .woocommerce-checkout .place-order input#place_order {
	font-size: 16px !important;
}
.woocommerce-checkout .login input.button {
	display: block;
	width: auto !important;
}
.woocommerce-order-received .woocommerce .order_details li {
	margin-right: 1em !important;
	padding-right: 1em !important;
}
#tech_details .tech_left h5, #tech_details .tech_right h5 {
	font-size: 22px !important;
}
.pressrelease-link a {
	font-size: 16px !important;
}
#tech_details a.button {
	text-align: center !important;
}
.return-to-shop {
	padding-bottom: 0px !important;
}
.single-product .logo_area, .woocommerce-cart .logo_area, .woocommerce-checkout .logo_area, .woocommerce-lost-password .logo_area {
	width: 25% !important;
}
.woocommerce-cart #introduction {
	padding-bottom: 15px !important;
}
#tech_details .img_area .popbox.ins1 .area_highlight {
	left: -68px !important;
}
#tech_details .img_area .popbox.ins4 {
	right: 17.6% !important;
	top: 49% !important;
}
#tech_details .img_area .popbox.ins4 .area_highlight {
	left: -77px !important;
}
#tech_details .img_area .popbox.ins5 .area_highlight {
	left: -75px !important;
}
#tech_details .img_area .popbox.ins7 .area_highlight {
	left: -73px !important;
}
#tech_details .img_area .popbox.ins8 .area_highlight {
	left: -90px !important;
}
#tech_details .img_area .popbox.ins10 .area_highlight {
	left: -90px !important;
}
#tech_details .img_area .popbox.ins11 .area_highlight {
	left: -65px !important;
}
#tech_details .img_area .popbox.ins2 .area_highlight {
	left: -62px !important;
}
#tech_details .img_area .popbox.ins13 .area_highlight {
	left: -61px !important;
}
#tech_details .img_area .popbox.ins12 .area_highlight {
	left: -65px !important;
}
#tech_details .img_area .popbox.ins3 .area_highlight {
	left: -76px !important;
}
}
 @media (max-width:640px) {
body, html {
	font-size: 10px;
}
#introduction .content a.button {
	font-size: 16px
}
#introduction .content h2 {
	font-size: 3.40rem
}
#product_highlight ul li h4, #technical_highlight ul li h4 {
	font-size: 2.00rem;
}
.product_box {
	width: 70%;
	margin-top: 20px
}
#models .product_box .cart_wrapper .cart a, #models .product_box .cart_wrapper .cart a i {
	height: 79px;
	line-height: 79px
}
.product_box h4 {
	font-size: 2.00rem;
}
#subscription h4 {
	font-size: 2.00rem;
	line-height: 32px;
	margin-bottom: 20px
}
#subscription .form_area label {
	width: 100%;
	float: none;
	padding: 0;
	margin-bottom: 10px
}
#faqs .collapsible_panel ul li a {
	font-size: 15px
}
#contact .contact_box:nth-of-type(1) {
	width: 100%
}
#contact .contact_box:nth-of-type(2) {
	width: 100%
}
#contact .contact_box:nth-of-type(3) {
	width: 100%
}
#contact .contact_box h4 {
	font-size: 1.75rem
}
#contact .contact_box ul li a {
	font-size: 16px
}
.comment-form p.comment-form-email, .comment-form p.comment-form-author {
	width: 47.8% !important;
}
#tech_details a.button {
	font-size: 16px !important;
}
.post-type-archive-product ul.products li {
	min-height: 373px !important;
}
.single-product .entry-summary h1.entry-title {
	font-size: 18px !important;
}
.single-product button.button {
	padding: 1.1em 1em !important;
}
.woocommerce-order-received ul.woocommerce-thankyou-order-details li {
	width: 100% !important;
	line-height: 38px;
	border-bottom: 1px dashed #d3ced2;
	border-right: hidden !important;
}
.woocommerce-order-received ul.woocommerce-thankyou-order-details li strong {
	display: inline-block !important;
}
.woocommerce-order-received .order_details li {
	font-size: 13px !important;
}
.contact_box::after {
	display:none;
}
#contact .contact_box:nth-of-type(1) {
    padding-right: 0px !important;
}
}
 @media (max-width: 550px) {
#tech_details .tech_right .img_area {
	width: 70%
}
.comment-form p.comment-form-email, .comment-form p.comment-form-author {
	width: 100% !important;
}
.post-type-archive-product ul.products li {
	min-height: 333px !important;
}
.single-product .logo_area, .woocommerce-cart .logo_area, .woocommerce-checkout .logo_area, .woocommerce-lost-password .logo_area {
	width: 30% !important;
}
}
 @media (max-width:480px) {
body, html {
	font-size: 8px;
}
.logo_area a img {
	max-width: 80%
}
#introduction .content a.button {
	width: 225px;
	height: 52px;
}
h3.sec_head {
	font-size: 3.00rem
}
#product_highlight ul li, #technical_highlight ul li {
	width: 100%;
	min-height: 100px;
	padding: 0 !important;
	margin: 10px 0
}
#product_highlight ul li h4, #technical_highlight ul li h4 {
	font-size: 2.60rem
}
.product_box {
	width: 90%
}
.product_box h4 {
	font-size: 2.70rem;
}
#subscription .form_area button {
	margin-top: 15px
}
#tech_details .tech_right .img_area {
	width: 83%
}
.post-type-archive-product ul.products li.product {
	width: 100% !important;
	margin: 0 0 2.992em 0 !important;
	min-height: 0px !important;
}
.post-type-archive-product ul.products li.product h3 {
	font-size: 2.375rem !important;
}
.post-type-archive-product ul.products li.product .button {
	font-size: 2rem !important;
}
.post-type-archive-product #introduction {
	padding: 40px 0 0px 0 !important;
}
.single-product button.button {
	padding: 1.3em 1em !important;
}
.single-product #tab-additional_information h2 {
	font-size: 15px !important;
}
.single-product #tab-description h2 {
	font-size: 15px !important;
}
#reviews #comments .woocommerce-Reviews-title {
	font-size: 15px !important;
}
.woocommerce-cart .cart_totals h2 {
	text-align: center !important;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	width: 195px !important;
	font-size: 16px !important;
	margin: 0 auto !important;
}
.woocommerce-checkout p.form-row-first {
	width: 100% !important;
}
.woocommerce-checkout .checkout_coupon p.form-row-last {
	width: 145px !important;
}
.form-row-last .button {
	text-indent: 0px !important;
	padding: 12px !important;
	height: auto !important;
	font-size: 15px !important;
}
.woocommerce-billing-fields p#billing_last_name_field, .woocommerce-billing-fields p#billing_phone_field, .woocommerce-billing-fields p#billing_postcode_field {
	width: 100% !important;
}
.woocommerce-checkout .woocommerce-billing-fields h3, .woocommerce-checkout .woocommerce-shipping-fields h3, h3#order_review_heading {
	text-align: center !important;
}
.woocommerce-checkout-payment .place-order {
	text-align: center;
}
.woocommerce-lost-password .lost_reset_password input.woocommerce-Button {
	float: none !important;
}
.woocommerce-order-received ul.woocommerce-thankyou-order-details {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.woocommerce-order-received h2 {
	font-size: 24px;
	text-align: center;
}
.woocommerce-order-received #introduction {
	padding-top: 25px !important;
}
.woocommerce-order-received #introduction {
	padding-bottom: 25px !important;
}
.uparrow {
	right: 30px !important;
	bottom: 38px !important;
	width: 40px !important;
	height: 40px !important;
}
#tech_details .popbox .area_highlight h4 {
	font-size: 14px !important;
}
.single-product .logo_area, .woocommerce-cart .logo_area, .woocommerce-checkout .logo_area, .woocommerce-lost-password .logo_area {
	width: 45% !important;
}
.woocommerce-cart #introduction {
	padding-bottom: 30px !important;
}
.single-product #introduction, .woocommerce-cart #introduction, .woocommerce-checkout #introduction, .woocommerce-lost-password #introduction, .post-type-archive-product #introduction {
	padding: 30px 0 30px 0 !important;
}
#tech_details .img_area .popbox.ins1 .area_highlight {
	left: -56px !important;
}
#tech_details .img_area .popbox.ins4 {
	right: 16.6% !important;
	top: 48% !important;
}
#tech_details .img_area .popbox.ins4 .area_highlight {
	left: -59px !important;
}
#tech_details .img_area .popbox.ins5 .area_highlight {
	left: -66px !important;
}
#tech_details .img_area .popbox.ins6 .area_highlight {
	left: -64px !important;
}
#tech_details .img_area .popbox.ins2 .area_highlight {
	left: -51px !important;
}
#tech_details .img_area .popbox.ins13 .area_highlight {
	left: -48px !important;
}
#tech_details .img_area .popbox.ins12 .area_highlight {
	left: -51px !important;
}
#tech_details .img_area .popbox.ins10 .area_highlight {
	left: -71px !important;
}
#tech_details .popbox .area_highlight {
	padding: 10px 15px !important;
}
#tech_details .img_area .popbox.ins3 .area_highlight {
	left: -60px !important;
}
#tech_details .img_area .popbox.ins8 .area_highlight {
	left: -73px !important;
}
#tech_details .img_area .popbox.ins9 .area_highlight {
	left: -21px !important;
}
#tech_details .img_area .popbox.ins11 .area_highlight {
	left: -50px !important;
}
#tech_details .img_area .popbox.ins7 .area_highlight {
	left: -60px !important;
}
#contact .contact_box h4 {
    font-size: 18px !important;
}
}
 @media (max-width:390px) {
body, html {
	font-size: 7px;
}
#subscription .form_area button {
	width: 100%;
}
#tech_details .tech_right .img_area {
	width: 100%
}
.single-product button.button {
	padding: 1.5em 1.3em !important;
}
.single-product .wc-tabs-wrapper .wc-tabs li {
	width: 100%;
}
.single-product .wc-tabs-wrapper .wc-tabs li a {
	display: block !important;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 2em !important;
}
.woocommerce-cart .coupon input.button {
	font-size: 16px !important;
	text-indent: 0px !important;
}
.woocommerce-cart .coupon #coupon_code, .coupon .button {
	width: 100% !important;
}
.woocommerce-cart .coupon .button {
	margin-top: 5px !important;
}
.woocommerce-cart .shop_table .actions input.button {
	width: 100% !important;
}
#tech_details .tech_left h5, #tech_details .tech_right h5 {
	font-size: 20px !important;
}
.single-product .logo_area, .woocommerce-cart .logo_area, .woocommerce-checkout .logo_area, .woocommerce-lost-password .logo_area {
	width: 56% !important;
}
#tech_details .img_area .circle a {
	font-size: 25px !important;
}
}
 @media (max-width:330px) {
}
